:root{
 --darkT: rgb(26, 26, 26);
 --whiteT: rgb(255, 255, 255), rgba(0, 0, 0, 08);
}
.bg_menu
{
    transform: scale(0.8);
    position: absolute;
    width: 70px;
    height: 70px;
    display: flex;
    margin-top: 2%;
    margin-left: 5.3%;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.menu
{
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 24px;
    box-shadow:  0 10px 20px rgba(0, 0, 0, 08);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 35%;
    z-index: 1000;
    transition: 0.25s;
    transform: scale(0.6);
}
.menu:hover
{
    cursor: pointer;
    opacity: 1;
    transform: scale(1.07);
}
.menu:active
{
    transform: scale(1);
}
.menu.active
{
    opacity: 1;
    transform: scale(1);
}
.menu span
{
    position: absolute;
    width: 40px;
    height: 4px;
    background: rgb(0, 0, 0);
    border-radius: 4px;
    transition: 0.5s;
}
.menu span:nth-child(1)
{
    transform: translateY(-15px);
    width: 25px;
    left: 15px;
}
.menu span:nth-child(2)
{
    transform: translateY(15px);
    width: 15px;
    left: 15px;
}
.menu.active span:nth-child(1)
{
    width: 40px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
    background: red;
}
.menu.active span:nth-child(2)
{
    width: 40px;
    transform: translateY(0px) rotate(315deg);
    transition-delay: 0.25s;
    background: red;
}
.menu.active span:nth-child(3)
{
    transform: translateX(60px);
}
.bg_menu li
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    list-style: none;
    opacity: 0;
    transition: 0.25s;
}
.bg_menu label
{
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    list-style: none;
    transition: 0.25s;
    opacity: 0;
}
.bg_menu label:hover
{
    cursor: pointer;
}
.bg_menu li a 
{
    width: 50px;
    height: 50px;
    color: black;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    font-size: 2em;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 08);
}
.bg_menu label input
{
    appearance: none;
    position: relative;
    z-index: 1;
}
.bg_menu label span
{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: white;
    border-radius: 80px;
    transition: 0.125s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 08);
}
.bg_menu label span s
{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 30, 30);
    transition: 0.25s;
}
.bg_menu label span s ion-icon
{
    transition: 0.25s;
    position: absolute;
}
.bg_menu label span s ion-icon:nth-child(1)
{
    color:  white;
}

.bg_menu label span s ion-icon:nth-child(2)
{
    color:  rgb(30, 30, 30);
}
.bg_menu.active li
{
    opacity: 1;
    transform: translateX(80px) translateY(calc(68px * var(--i)));
    transition-delay: calc(0.12s * var(--i));
}
.bg_menu.active label
{
    opacity: 1;
    transform: translateX(-84px);
    transition-delay: calc(0.12s * var(--i));
}
.bg_menu li
{
    transition-delay: calc(0.05s * var(--i));
}
.bg_menu li a
{
    transition: 0.25s;
}
.bg_menu li a:hover
{
    width: 190px;
    margin-right: -140px;
    animation: increase_to_move ease-in;
    transform: scale(1.1);
    transition: 0.25s;
    cursor: pointer;
    color: red;
}
.bg_menu li a:hover h2
{
    display: flex;
    opacity: 1;
}
.bg_menu li a:hover ion-icon
{
    left: 10px;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
}
.bg_menu li a ion-icon
{
    left: 9px;
    position: absolute;
    top: 10px;
}
.bg_menu li a:active
{
    transform: scale(1);
    transition: 0.125s;
    cursor: pointer;
}
.bg_menu li a div
{
    width: 49px;
    height: 49px;
    display: block;
    border-radius: 10px;
    background: white;
    z-index: -1;
}
.bg_menu li a h2
{
    right: 15px;
    top: 14px;
    display: none;
    opacity: 0;
    font-size: 18px;
    transition: 0.125s;
    position: absolute;
    font-style: normal;
    text-decoration: none;
    z-index: -2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bg_menu label input:checked ~ span
{
    background-color: rgb(30, 30, 30);
}
.bg_menu label input:checked ~ span s
{
    left: 32px;
    background-color: white;
}
.bg_menu label input:checked ~ .bg_menu li a
{
    background-color: rgb(30, 30, 30);
}